<!DOCTYPE html>
<html lang="en">

<head>
	<%-include('../../partials/head')-%>
	<title>Cinema Quest</title>
</head>

<body>
	<header>
		<%-include('../../partials/header')-%>
	</header>
		<% displayData.forEach(movie => { %>
		<div id="search-result">
				<img src=" <%= movie.poster_path %>" alt="movie"> <br>
				<p>Title: <%= movie.title %></p> <br>
				<p>Score: <%= movie.vote_average %></p> <br>
				<p>Overview: <%= movie.overview %></p> <br>
				<p>Release Date: <%= movie.release_date %></p> <br>
				<p>Genre: <%= movie.genre_ids %></p> <br>

				<form action="/add" method="post" class="formfield">
					<input class="inputs" name="title" value="<%= movie.title %>">
					<input class="inputs" name="vote_average" value=" <%= movie.vote_average %>">
					<input class="inputs" name="overview" value=" <%= movie.overview %>">
					<input class="inputs" name="poster_path" value=" <%= movie.poster_path %>">
					<input class="inputs" name="release_date" value=" <%= movie.release_date %>">
					<input class="inputs" name="genre_ids" value=" <%= movie.genre_ids %>">
					<button type="submit"> Add Movie!</button>
				</form>
		</div>
		<% }); %>

	<footer>
		<%-include('../../partials/footer')-%>
	</footer>
</body>

</html>