<!DOCTYPE html>
<html lang="en">

<head>
	<%-include('../../partials/head')-%>
	<title>Cinema Quest</title>
</head>

<body>
	<header>
		<%-include('../../partials/header')-%>
	</header>
	<main>
		<% displayData.forEach(movie => { %>
		<div id="db-result">
				<!--this partial renders data from the movie table of the database  on the page-->

				<img src=" <%= movie.thumbnail %>" alt="movie"> <br>
				<p>Title: <%= movie.title %></p> 
				<p>Score: <%= movie.vote_average %></p> 
				<p>Overview: <%= movie.overview %></p> 
				<p>Release Date: <%= movie.release_date %></p> 
				<p>My Comment: <%= movie.comment %></p>

				<!--delete button-->

				<form method="POST" action="<%=`/showMovie/${movie.id}` %>">
					<input type="hidden" name="_method" value="DELETE">
					<button value= <%= movie.id %>>Delete Movie </button>
				</form>
				
				<!--edit button-->
				<form method="POST" action="<%=`/update/${movie.id}` %>">
					<input type="text" name="comment" value= "<%= movie.comment %>" placeholder="enter comment" >
					<input type="hidden" name="_method" value="PUT">
					<button type="submit"> Update Movie </button>
				</form>
				<br>
		</div>
		<% }); %>

	</main>
	<br>
	<footer>
	</footer>
</body>

</html>